<div class="container">
  <div class="row" style="margin: auto;">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" #f1="ngForm" style="margin: 100px;">
      <h1>RS International Phone Number Inputs</h1>
      <label> Angular Material </label>
      <br>
      <mat-form-field>
        <rs-mat-intl-telephone-input [cssClass]="'custom'" [preferredCountries]="['pk', 'us']"
          [enablePlaceholder]="true" placeholder="Enter Number" [enableSearch]="true"
          [onlyCountries]="['us','cl','ve', 'pk']" [searchPlaceholder]="'Search...'" name="phone"
          formControlName="phone" #phone1></rs-mat-intl-telephone-input>
        <mat-hint>e.g. {{phone1.selectedCountry.placeHolder}}</mat-hint>
        <mat-error *ngIf="f1.form.controls['phone']?.errors?.required">Required Field</mat-error>
        <mat-error *ngIf="f1.submitted && f1.form.controls['phone']?.errors?.validatePhoneNumber">Invalid Number
        </mat-error>
      </mat-form-field>
      <br>
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>